<form action="/restaurants/{{restaurant._id}}/edit" method="POST">
    <input class="mb-3 form-control" type="text" placeholder="name" name="name" value="{{restaurant.name}}" required>
    <input class="mb-3 form-control"  type="text" placeholder="english name" name="name_en" value="{{restaurant.name_en}}" required>
    <input class="mb-3 form-control"  type="text" placeholder="category" name="category" value="{{restaurant.category}}" required>
    <input class="mb-3 form-control"  type="url" placeholder="img href" name="image" value="{{restaurant.image}}" required>
    <input class="mb-3 form-control"  type="text" placeholder="location" name="location" value="{{restaurant.location}}" required>
    <input class="mb-3 form-control"  type="text" placeholder="phone" name="phone" value="{{restaurant.phone}}" required>
    <input class="mb-3 form-control"  type="url" placeholder="google_map" name="google_map" value="{{restaurant.google_map}}" required>
    <input class="mb-3 form-control"  type="number" min="0" max="5" placeholder="rating" name="rating" value="{{restaurant.rating}}" required>
    <input class="mb-3 form-control"  type="text" placeholder="description" name="description" value="{{restaurant.description}}" required>
    <button class="mb-3"  type="submit" class="btn btn-primary">送出</button>
    <a href="/">back</a>
</form>